# --------------------------------------------
# Node Modules
# --------------------------------------------
node_modules/

# --------------------------------------------
# Environment Files (VERY IMPORTANT)
# --------------------------------------------
.env
.env.local
.env.development
.env.production
.env.test

# --------------------------------------------
# Logs
# --------------------------------------------
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# --------------------------------------------
# Build Output
# --------------------------------------------
dist/
build/

# --------------------------------------------
# Temporary Files
# --------------------------------------------
*.tmp
*.temp
tmp/
temp/

# --------------------------------------------
# Database Files (Mongo + PostgreSQL)
# --------------------------------------------
dump/
*.bson
*.json
*.sql
*.sqlite

# --------------------------------------------
# OS & Editor Files
# --------------------------------------------
.DS_Store
Thumbs.db

# --------------------------------------------
# VS Code
# --------------------------------------------
.vscode/

# --------------------------------------------
# Cache Files
# --------------------------------------------
.cache/
.eslintcache
